* {
    box-sizing: border-box;
    font-family: Raleway;
}

body {
    margin: 0;
    padding: 0;
}


h2 {
    font-weight: 900;
}

h5 {
    font-size: 19px;
}

.mt-0 {
    margin-top: 0;
}

#top-of-page {
    margin-bottom: 25px;
}

.logo {
    display: flex;
    align-items: center;
    float: left;   
}

.navbar {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-flow: wrap;
}

.navbar li {
    width: 50%;
}

.navbar li:nth-child(1) {
    order: 1;
}

.navbar li:nth-child(2) {
    order: 3;
    text-align: center;
}

.navbar li:nth-child(3) {
    order: 4;
    text-align: center;
}

.navbar li:nth-child(4) {
    order: 2;
    text-align: right;
}

.navbar-link {
    display: block;
    padding: 13px 15px 15px 15px;
    color: black;
    text-decoration: none;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: white;
}

.navbar-link:hover {
    color: blue;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: blue;
}

.navbar-link.signup {
    color: blue;
    font-weight: bold;
}

.navbar-link.signup:hover {
    border: none;
    padding: 15px;
}


.mapmarker {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    padding: 16px;
    text-align: center;
    width: 60px;
}


.container {
    max-width: 1340px;
    padding: 0 15px;
    margin: auto;
}

.d-flex {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}


.filter-button {
	align-items: center;
    border-radius: 3rem;
    border: solid 0.1875rem#f2f2f2;
    color: black;
    display: inline-flex;
    font-size: 1.25rem;
    padding: 0 1.5625rem;
    background: white;
}


.filter-icon {
	align-items: center;
    background-color: #deebff;
    border-radius: 60%;
    color: #0065fc;
    display: flex;
    float: left;
    height: 3.125rem;
    justify-content: center;
    margin: 0 0.625rem 0 -1.5625rem;
    min-width: 3.125rem;
    position: relative;
}

.filter-row {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;

}

.info-icon {
border: 0.125rem solid #f2f2f2;
border-radius: 3.125rem;
color: #0065fc;
margin-right: 1rem;
justify-content: center;
width: 30px;
display: inline-flex;
height: 30px;
align-items: center;
}

.card-link {
    color: black;
}

.card {
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.card-text {
    border-radius: 0 0 1.25rem 1.25rem;
}
.card-body {
    padding: 30px 25px;
    width: 100%;
}
.card-title {
    margin: 0;
}


.card-img-left {
    border-radius: 1.25rem 0 0 1.25rem;
    border: solid white 0.3125rem;
    background-size: cover;
    background-position: center;
    width: 186px;

}

.card-hori {
    flex-direction: row;
}

.card-hori .card-body {
    display: flex;
    flex-direction: column;
}

.card-img-no-border {
    border: none;
    width: 100%;
    position: relative;   
}

.card-no-border {
    margin: 10px;
}

.activitycard {
    background-color: white;
    border-radius: 21px;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2) ;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    height: 50%;
    
}

.card-img-top {
    border-radius: 1.25rem 1.25rem 0 0;
    object-fit: cover;
    position: relative;
    width: 100%;
}

.pomegues-card .card-img-top {
    height: 195px;
}  


.bluestar {
    color: #0065fc;
}

.greystar {
    color: #f2f2f2;
}

.accommodations-container {
    background-color: #f2f2f2;
    border-radius: 1.25rem 1.25rem;
    padding: 40px;
}

  .accommodations-grid {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px -15px -15px;
      justify-content: space-between;
  }

  .accommodations-grid .col {
    padding: 0 15px 15px 15px;
    width: 100%;
  }

  .accommodations-grid .card img {
      width: 100%;
      height: 125px;
      border: 5px solid white ;
  }

  .showmore {
      margin-left: 2rem;
      color: black;
      font-size: 1.2rem;
      font-weight: 900; 
      margin-top: 20px; 
 }

  .col {
      width: 50%;
      padding: 0 15px;
  }

  .most-popular-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #f2f2f2;
    border-radius: 1.25rem 1.25rem;
    padding: 40px;
  }

  .most-popular-grid {
        display: flex;
        align-items: center;
        flex-direction: column;
    
  }

  .most-popular-grid .card {
    margin: 0 15px 15px 15px;
    width: 100%;
  }

  
  .most-popular-header {
      display: flex;
      justify-content: flex-start;
      margin: 0px 20px 15px 20px;
      
  }

  .accommodations-header {
    margin: 0px 20px 15px 20px;
  }

  .most-popular-header-text {
      margin-left: 3rem;
  }


  .activities-header {
        display: flex;
        justify-content: flex-start;
        margin-top: 40px;

  }

  .activities-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

  h2 {
      font-weight: 900;
  } 

  .chartline {
      align-self: center;
      margin-left: auto;
  }

  .search-row {
      display: flex;
      flex-direction: row;
  }

  .search-box {
      border: solid 0.0625rem #f2f2f2;
      border-right-color: white;
      border-left-color: white;
      font-weight: 900;
      font-size: 1rem;
      width: 15rem;
      padding: 15px;

  }

  .search-button {
    align-content: center;
    background-color: #0065fc;
    border-left-color: white;
    border-radius: 0rem 1rem 1rem 0;
    color: #eeeeee;
    cursor: pointer;
    display: flex;
    font-weight: 800;
    font-size: 1rem;
    padding: 1rem;
    width: 6rem;
}

 .search {
     display: flex;
 }


.search-icon {
    color: white
}

.footer {
    background-color: #f2f2f2;
}

.row {
    display: flex;
    justify-content: space-around;
}

.activities-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 40px;
}

.card-tall {
    height: 100%;
}

.card-tall .card-img-top {
    flex-grow: 1;
}

.col-4 {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}



@media (min-width:678px) {
    .flex-direction-sm-row{
        flex-direction: row;
    }

    .accommodations-grid .col {
         width: 50%;
    }

    .accommodations-grid .card img {
        width: 100%;
        height: 125px;
    }
}

@media(min-width:1024px){
    .accommodations-grid .col {
        width: 30%;
    }
}


@media (min-width: 678px) {
    .navbar li {
      width: auto;
    }
    
    .navbar li:nth-child(1) {
      order: 1
    }
  
    .navbar li:nth-child(2) {
      margin-left: auto;
      order: 2;
    }
  
    .navbar li:nth-child(3) {
      order: 3;
    }
  
    .navbar li:nth-child(4) {
      order: 4;
    }
  
    .navbar-link {
      display: inline-block;
      border-top-width: 2px;
        border-bottom-width: 0;
    }
  
    .navbar-link:hover {
      border-top-width: 2px;
        border-bottom-width: 0;
    }
}

@media  (min-width: 400px) {
      .search-icon {
          display: none;
      }

}






      
  






    
    






   

