h2 {
    font-weight: 900;
}



.filter-button {
	align-items: center;
    border-radius: 3rem;
    border: solid 0.1875rem#f2f2f2;
    color: black;
    display: inline-flex;
    font-size: 1.25rem;
    padding: 0 1.5625rem;
}


.filter-icon {
	align-items: center;
    background-color: #deebff;
    border-radius: 60%;
    color: #0065fc;
    display: flex;
    float: left;
    height: 3.125rem;
    justify-content: center;
    margin: 0 0.625rem 0 -1.5625rem;
    min-width: 3.125rem;
    position: relative;
}

.card-img-top {
    border-radius: 1.25rem 1.25rem 0 0;
	height: 8.125rem;
    object-fit: cover;
    position: relative;
    width: 100%;
}
* {
    box-sizing: border-box;
    font-family: Raleway;
}
.card-link {
    color: black;
}

.card {
    background-color: white;
    border: solid white 0.3125rem;
    border-radius: 1.25rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-text {
    border-radius: 0 0 1.25rem 1.25rem;
    line-height: 0.2rem;
    padding: 0.5rem;
}
.card-body {
    padding: 10px 20px;
}
.card-title {
    margin: 0;
}

h5 {
    font-size: 19px;
}

.card-text {
    margin: 5px 0;
}

.card-img-left {
    border-radius: 1.25rem 0 0 1.25rem;
	height: 8.125rem;
    object-fit: cover;
    position: 
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-hori {
    flex-direction: row;
}

.card-img-no-border {
    border: none;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.bluestar {
    color: #0065fc;
}

.greystar {
    color: #f2f2f2;
}

.accommodations-container {
    display: flex;
    background-color #f2f2f2;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .accommodations-container > div {
    background-color: white;
    margin: 8px; 
  }

  .most-popular-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 32rem;
    justify-items: center;



    
    






   

